body {
    font-size: 20px;
    background-color: white;
}
footer{
    background-color: var(--cream);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);

}

/* ROOT COLORS */
:root {
    --black: #11100F;
    --light-green: #E3F0AF;
    --green: #5DB996;
    --dark-green: #118B50;
    --dark-cream: #CDBCAB;
    --cream: #FBF6E9;
    --green-rgb: 93, 185, 150;
}

/* NAVIGATION BAR */
.navLogo{
    height: auto;
    width: 7vh;
}
.logo2{
    height: auto;
    width: 10vh;
    margin-right: 15vh;
}
nav.navbar {
    background-color: var(--cream);
    font-family: "Figtree", sans-serif;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
.navbar-nav .nav-link {
    font-size: 1rem;
    margin: 0 10px;
}
.navbar-nav {
    flex-wrap: nowrap;
    white-space: nowrap;
}
.dropdown-menu {
    position: absolute; 
    left: 50%; 
    transform: translateX(-50%); 
}

/* FONTS */
.cantarell{
    font-family: "Cantarell", sans-serif;
}
.figtree{
    font-family: "Figtree", sans-serif;
}
.montserrat{
    font-family: "Montserrat", sans-serif;
}
.felipa{
    font-family: "Felipa", sans-serif;
}

/* BUTTONS STYLE */
.btn-primary{
    background-color: var(--dark-green) !important;
    border-color: var(--dark-green) !important;
}
.btn-primary:hover{
    background-color: var(--green) !important;
    border-color: var(--green) !important;
}
.btn-secondary{
    background-color: var(--green) !important;
    border-color: var(--green) !important;
    font-size: 1rem;
    color: white;
}
.btn-secondary:hover{
    background-color: var(--light-green) !important;
    border-color: var(--black) !important;
    font-size: 1rem;
    color: black !important;
}

/* UNDERLINE ANIMATION */
.underline-hover {
    position: relative;
    text-decoration: none;
}
.underline-hover::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -2px;
    width: 100%;
    height: 3px;
    background-color: var(--green);
    transform: scaleX(0);
    transition: transform 0.3s ease-in-out;
}
.underline-hover:hover::after {
    transform: scaleX(1);
}
.underline-hover.active::after {
    transform: scaleX(1);
    color: var(--green);
    background-color: var(--green); 
}

/* CUSTOM DIV HEIGHT */
.home{
    padding-top: 100px;
    height: 75vh;
}

/* DECORATION */
.custom-card {
    background-color: #2e9e6f; 
    border-radius: 0 0 0 100px; 
    width: auto;
    height: 70vh;
    position: relative;
}
.radius1 {
    border-radius: 0 50px 0 50px; 
}
.radius2 {
    border-radius: 50px 0 50px 0; 
}

/* NAVBAR */
.profile-image {
    width: 40px;
    height: 40px;
}
.profile-info{
    width: 80px;
    height: 80px;
}
.dropdown-svg{
    width: 16px;
    height: 16px;
}

/* HOME 1*/
.home1-heading{
    font-size: 70px; 
    color: var(--green);
}
.home1-paragraph{
    font-size: 30px; 
    opacity: 0.7;
}
.home1-svg{
    width: 30px;
    height: 30px;
}
.home1-image{
    top:40vh;
    height: 70vh; 
    width:auto; 
    left: -75%;
}

/* HOME 2 */
.home2-imageLeft{
    width: 100%;
}
.home2-imageLeft2{
    width: 70%;
}
.home2-imageRight{
    width: 100%;
}
.home2-imageRight2{
    width: 70%;
}
.home2-flower{
    width: 170px;
}
.home2-hr{
    width: 35%; 
    background-color: var(--green); 
    border: none; 
    height: 5px; 
    opacity: 1;
}
.home2-paragraph{
    font-size: 20px; 
    opacity: 0.7;
}

/* HOME 3 */
.home3-bg{
    background-image: url('../images/latar.png'); 
    width: 100%; 
    height: 300px;
}

/* HOME 4 */
.home4-img{
    width: 100%;
    height: 100%;
    box-shadow: 5px 5px 10px var(--dark-green); 
}
.home4-paragraph{
    font-size: 20px; 
    opacity: 0.7;
    text-align: justify;
}

/* HOME 5 */ 
.home5-height{
    height:45vh;
}

/* RESPONSIVE WEB */
@media only screen and (max-width: 767px) {
    
}
    
@media only screen and (min-width: 768px) and (max-width: 800px) {
    
}

@media only screen and (min-width: 801px) and (max-width: 960px) {
    
    
}